/**************************/
/* HEADER */
/**************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;

    height: 9.6rem;
    padding: 0 4.8rem;
}

.logo {
    height: 4.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

#main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #cf711f;
}

/**************************/
/* CAKE SECTION */
/**************************/

.section-cake {
    background-color: #fdf2e9;
    padding: 3rem 0 9.6rem 0;
}

.cake {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.cake-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.cake-img {
    width: 100%;
}

.delivered-cakes {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
    margin: 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    color: #cf711f;
    font-weight: 700;
}

@media (max-width: 59em) {
    html {
        /* 8px / 16px = 0.5 = 50% */
        font-size: 50%;
    }
    .cake {
        max-width: 110rem;
    }
}

@media (max-width: 30em) {
    html {
        /* 8px / 16px = 0.5 = 50% */
        font-size: 25%;
    }

    .cake {
        max-width: 90rem;
    }
}
