<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cake o' clock</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="../static/general.css">
    <link rel="stylesheet" href="../static/style.css">
    <style>
        .heading-primary {
            font-size: 5.2rem;
            line-height: 1.05;
            margin-bottom: 3.2rem;
        }
    </style>
</head>
<body>
<header class="header">
    <a href="#">
        <img class="logo" alt="Cake o' Clock logo" src="../images/cakeoclock-logo.jpg"/>
    </a>
    <nav class="main-nav">
        <ul id="main-nav-list">
            <li><a class="main-nav-link" href="birthday.html">Birthday</a></li>
            <li><a class="main-nav-link" href="anniversary.html">Anniversary</a></li>
            <li><a class="main-nav-link" href="wedding.html">Wedding</a></li>
            <li><a class="main-nav-link" href="pricing.html">Pricing</a></li>
            <li><a class="main-nav-link nav-cta" href="review.html">Review</a></li>
        </ul>
    </nav>
</header>
<section class="section-cake">
    <div class="cake">
        <div class="cake-text-box">
            <h1 class="heading-primary">
                Beautiful cakes delivered to your door, every single day
            </h1>
            <p class="cake-description">
                Our cakes are built to order with customizable layers of cake, filling, and icing.
                It is crafted with love and patience, making our bakery one of the finest.
                You can find all the styles and varieties that fit your taste, whether in design, or in the flavor.
                Order your cake just the way you want it.
                Please allow 3 days for all orders.
            </p>
            <p class="cake-description" style="color: hotpink; font-style: italic">
                "Elevate your day with a touch of sweetness! Our cakes are a symphony of flavors, bringing joy to every moment. Treat yourself because you deserve it!" ~ Cake o' Clock
            </p>
            <a href="#" class="btn btn--full margin-right-sm"
            >Create user account</a
            >
            <a href="#" class="btn btn--outline">Learn more &darr;</a>
            <div class="delivered-cakes">
                <div class="delivered-imgs">
                    <img src="../images/customers/customer-1.jpg" alt="Customer photo" />
                    <img src="../images/customers/customer-2.jpg" alt="Customer photo" />
                    <img src="../images/customers/customer-3.jpg" alt="Customer photo" />
                    <img src="../images/customers/customer-4.jpg" alt="Customer photo" />
                    <img src="../images/customers/customer-5.jpg" alt="Customer photo" />
                    <img src="../images/customers/customer-6.jpg" alt="Customer photo" />
                </div>
                <p class="delivered-text">
                    <span>10,000+</span> cakes delivered last year!
                </p>
            </div>
        </div>
        <div class="cake-img-box">
            <img
                    src="../images/cake.jpg"
                    class="cake-img"
                    alt="Birthday Cake, Anniversary Cake, and Graduation Cake"
            />
        </div>
    </div>
</section>


</body>
</html>